@import helper._

@(param: Form[(String, String)],down: Form[(String)], pre2data: List[String], model: List[String], regResult: Array[String], errorMessage: String,user:String)(implicit messages: Messages)
@main(title = "Logistic Regression",test=user) {

  @if(pre2data != null) {
    <h2>Logistic Regression</h2>
      <div class="row">
        <div class="col-md-5">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Input Parameters</h3>

            </div>
            <div class="panel-body">

    @form(action = routes.Classification.logRegression()) {
      <div class="form-group">


        @select(
          field = param("inputpath"),
          options(pre2data),
          '_class->"col-sm-offset-1 col-sm-10",
          '_label -> "Select your parquet name")
</div>
      <div class="form-group">
        @select(
          field = param("model"),
          options(model),
          '_class->"col-sm-offset-1 col-sm-10",
          '_label -> "Select your model name")
      </div>

      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
          <button type="submit" class="btn btn-default">submit</button>
        </div>
      </div>

    }
              </div>
          </div>
        </div>
      </div>
  }

  @if(regResult != null) {
    <h2>predict labels</h2>
    @for(i <- 0 to 3) {
      <br>
      Column@i| @regResult(i)
    }
    <br>
    ....and @(regResult.length-4)
    <br>
    @if(user!="NULL"&&user!="outsider"&&user!="") {
    @form(action = routes.Regression.download()) {
      <fieldset>
        <legend>download your result</legend>
        @inputText(
          field = down("csvPath"),
          '_label -> "Input your download path"
        )

        <div class="submit">
          <input type="submit" id="submit" value="download">
        </div>
      </fieldset>

    }
  }
  }
}