@import helper._
@(guestSelect: Form[(String,Boolean)],defaultcsv :String,csvInput: Form[(String,Boolean)],header:String,datatype: Seq[(String, String)], summary: Form[StatSummary],corMatrix:String,user:String)(implicit messages: Messages)


@main(title = "Data import--preprocess1",test = user) {
    <h2>Data Preprocess1</h2>

    @if(datatype==null && summary==null && corMatrix ==null){

        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Input Parameters</h3>

                    </div>
                    <div class="panel-body">

                        @form(action = routes.Preprocess.preprocess1_summary(), 'class -> "form-horizontal") {

                                @if(user!="NULL") {
                                    <div class="form-group">

                                        @inputText(
                                            csvInput("path"),
                                            '_label->"Csv path",
                                            '_class->"col-sm-offset-1  col-sm-10",
                                            'placeholder -> "path of your csv in hdfs"
                                        )
                                    </div>

                                    <div class="form-group">
                                    @checkbox(
                                        csvInput("header"),
                                        '_class->"col-sm-offset-1 col-sm-10",
                                        '_text->"Is first line header?",
                                       /* '_label -> null,*/
                                        '_help -> ""
                                    )
                                    </div>
                                }else{
                                    <div class="form-group">
                                    @select(
                                        guestSelect("file"),
                                        options(List(defaultcsv)),
                                        '_class->"col-sm-offset-1 col-sm-10",
                                        '_showConstraints -> false,
                                        '_label -> "file")
                                    </div>
                                    <div class="form-group">
                                    @checkbox(

                                        guestSelect("header"),
                                        '_class->"col-sm-offset-1 col-sm-10",
                                        '_text->"Is first line header?",
                                       /* '_label -> null,*/
                                        '_help -> ""
                                    )
                                    </div>

                                }
                                <div class="form-group">
                                    <div class="col-sm-offset-1 col-sm-10">
                                        <button type="submit" class="btn btn-default">submit</button>
                                    </div>
                                </div>


                        }
                    </div>
                </div>
            </div>
        </div>
    }


    @if(datatype!=null && summary!=null && corMatrix !=null){
        <script src="@routes.Assets.at("javascripts/d3/correlation.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/d3/corr.css")">


        @if(corMatrix.size<5000) {
        <h3> Correlation Matrix</h3>


        <b>InputFile Path: </b> @csvInput("path").value

        <br>

        <div class="col-sm-12" id="correlation"></div>
        <script>

                var corData = @Html(corMatrix)
                //println(corMatrix,corMatrix.size)

                d3.select('#correlation').datum(corData).call(heatmap());
            }
        </script>

        <br>
        <h3> Statistical Summary</h3>
        <h4> Convert column type and save it!</h4>



        <script>




                var form = document.createElement("form");
                form.method='POST';
                form.action = '@routes.Preprocess.preprocess1_rmcol';


                var inputFilename = document.createElement("input");
                inputFilename.type='hidden';
                inputFilename.value='@csvInput("path").value';
                inputFilename.name = 'inputFile';
                form.appendChild(inputFilename);


                var header = document.createElement("input");
                header.type='hidden';
                header.value='@header';
                header.name = 'header';
                form.appendChild(header);

                var mean = @summary.get.mean;
                var max = @summary.get.max;
                var min = @summary.get.min;
                var variance = @summary.get.variance;
                var numNonzeros = @summary.get.numNonzeros;


                var table = document.createElement('table');
                table.setAttribute('class','table table-inverse table-striped ');

                var thead = document.createElement('thead');
                // table.class="table-style-three"
                var tr1 = document.createElement('tr');

                var colName = ['column name','max','mean','min','var','nonZeros','category','numeric','removal'];
                var th=[];
                for(i=0;i<colName.length;i++)
                {
                    th[i] =document.createElement('th');
                    th[i].appendChild(document.createTextNode(colName[i]));
                    tr1.appendChild(th[i]);
                }
                thead.appendChild(tr1);
                table.appendChild(thead);


                var headerArray=new Array();


                var tbody = document.createElement('tbody');



                @for( (item, index) <- datatype.zipWithIndex) {

                var i=@index;
                        headerArray.push("@item._1");

                var tr2 = document.createElement('tr');
              //  tr2.setAttribute('class','info')

                var td=[];
                for(j=0;j<colName.length;j++)
                {
                    td[j] =document.createElement('td');
                    tr1.appendChild(th[j]);
                }
                var content = [];


                @**if(item._2 == "IntegerType" || item._2 == "DoubleType") {**@
                content[0] = document.createTextNode("@item._1");
                content[1]= document.createTextNode(mean[i]);
                content[2]= document.createTextNode(max[i]);
                content[3]= document.createTextNode(min[i]);
                content[4]= document.createTextNode(variance[i]);
                content[5]= document.createTextNode(numNonzeros[i]);







                //div category  input radio, label
                var div = document.createElement('div');
                content[6] = document.createElement('input');
                content[6].type = "radio";
                content[6].name= "@item._1";
                content[6].value='category';
                @if(item._2 != "IntegerType" && item._2 != "DoubleType") {
                content[6].setAttribute("checked", "checked");
                }


                //div category  input radio, label
                //var div = document.createElement('div');
                content[7] = document.createElement('input');
                content[7].type = "radio";
                content[7].name= "@item._1";
                content[7].value='numeric';
                @if(item._2 == "IntegerType" || item._2 == "DoubleType") {
                content[7].setAttribute("checked", "checked"); } else{
                content[7].setAttribute("disabled", "disabled");
                }
                content[8] = document.createElement('input');
                content[8].type = "radio";
                content[8].name= "@item._1";
                content[8].value='removal';


                td[6].appendChild(div);

                for(j=0;j<colName.length;j++)
                {
                    td[j] .appendChild(content[j]);
                    tr2.appendChild(td[j]);
                }


                tbody.appendChild(tr2);
                }

                table.appendChild(tbody);

                form.appendChild(table);

                form.appendChild(document.createElement("br"));


                @if(user!="NULL"&&user!="outsider"&&user!="") {

                form.appendChild(document.createTextNode("Output name"));
                var outputPath = document.createElement("input");
                outputPath.type='text';
                outputPath.required = 'required';
                outputPath.name = 'outputFolder';
                form.appendChild(outputPath);

                form.appendChild(document.createElement("br"));
                form.appendChild(document.createElement("br"));

                var button = document.createElement("button");
                var t = document.createTextNode("SAVE");
                button.type='submit';
               // button.id='saveto'
                //button.value='save'

                button.setAttribute('class','btn btn-default');
                button.appendChild(t);
                form.appendChild(button);
                }
                var container=document.createElement("div");
                container.className='container';
                container.appendChild(form);

                document.body.appendChild(container);




                // alert(headerArray);

        </script>

    }
}
