@import helper._

@(csvInput: Form[(String,Boolean,String)],user:String)(implicit messages: Messages)

    @main(title = "ImportData without Visulization",test = user) {

        <h2>Data Preprocess Directly</h2>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Input Parameters</h3>

                </div>
                <div class="panel-body">

        @form(action = routes.Preprocess.preprocess_direct()) {
            <div class="form-group">
                @inputText(
                    csvInput("inputpath"),
                    '_label -> "CSV path",
                    '_class->"col-sm-offset-1  col-sm-10",
                    'placeholder -> "path of your csv in hdfs"
                )
            </div>

            <div class="form-group">
                @checkbox(
                    csvInput("header"),
                    '_class->"col-sm-offset-1 col-sm-10",
                    '_text->"Is first line header?",
                    '_help->""
                )
            </div>

            <div class="form-group">
                @inputText(
                    csvInput("outputfolder"),
                    '_label -> "parquet output folder",
                    '_class->"col-sm-offset-1  col-sm-10",
                    'placeholder -> "output name"
                )
            </div>

                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-10">
                        <button type="submit" class="btn btn-default">submit</button>
                    </div>
                </div>

}
                </div>
            </div>
        </div>
    </div>
    }

