@import helper._
@import util.Utilities
@(myForm: Form[(String, String)], parquetlist: List[String], center: List[String],result:String,user:String,timestamp:String)(implicit messages: Messages)


  @main(title = "Kmeans",test = user) {
  <script src="@routes.Assets.at("javascripts/d3/pairs.js")" type="text/javascript"></script>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/d3/pairs.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/d3/bar.css")">
  <script src='@routes.Assets.at("javascripts/d3/bar.js")'></script>




    <h3>Kmeans</h3>
    @if(parquetlist != null) {
      @form(action = routes.Clustering.callKmeans) {
        <fieldset>

          <legend>Input Parameters</legend>
          @select(
            field = myForm("path"),
            options(parquetlist),
            '_label -> "Select your parquet name")

          @inputText(
            field = myForm("k").copy(value=Some("3")),
            args = '_label -> "k", 'placeholder -> "3"
          )


          <div class="submit">
            <input type="submit" id="submit" value="submit">
          </div>
        </fieldset>
      }
    }

  @if(center != null) {
    center= <br/>
    @for( item<-center){
        @item <br/>
    }



  }

  @if(result != null) {

    <div class="col-sm-12" id="scattermatrix"></div>
    <script>
            var data = @Html(result)

            @if(result.size<20000) {
                //println(data.length)

              d3.select('#scattermatrix').datum(data).call(scattermatrix());
               //console.log(data.prediction)
               //println(result)
              //console.log(data.columnNumber)
            }else{
              //println(result)
              //d3.select().datum(data).call(scattermatrix());
              //console.log(data.prediction)
              //println(result)
              //console.log(data)
            }
    </script>
    @if(user!="NULL"){
    @form(action = routes.Simple.saveModel) {



      <h3>Save Model as: </h3>
      <!--<input type="text" name="outputFolder" value="kmeansModel"> <br>
      <input type="hidden" name ="timestamp" value="NULL" ><br>-->
      <input type="text" name="outputFolder" required="required"> <br>
      <input type="hidden" name ="timestamp" value=@timestamp ><br>
      <input type="hidden" name = "type" value="@Utilities.kmeansModel" ><br>

      <p class="buttons">
        <input type="submit" id="submit">
      </p>
    }
    }

  }
}