@import helper._
@import util.Utilities
@(myForm: Form[(String,String)], parquetlist: List[String],result:String,user:String,timestamp:String)(implicit messages: Messages)


  @main(title = "PCA",test = user) {


    <h2>Principal Component Analysis</h2>
    @if(parquetlist != null) {
        <div class="row">
            <div class="col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Input Parameters</h3>

                    </div>
                    <div class="panel-body">
      @form(action = routes.FeatureSelection.callPCA()) {
          <div class="form-group">
          @select(
            field = myForm("path"),
            options(parquetlist),
              '_class->"col-sm-offset-1 col-sm-10",
            '_label -> "Select your parquet name")
            </div>
          <div class="form-group">
          @inputText(
            field = myForm("k").copy(value=Some("36")),
            args = '_label -> "k",
              '_class->"col-sm-offset-1 col-sm-10",
              'placeholder -> "3"
          )

          </div>

          <div class="form-group">
              <div class="col-sm-offset-1 col-sm-10">
                  <button type="submit" class="btn btn-default">submit</button>
              </div>
          </div>
      }
                    </div>
                </div>
            </div>
        </div>
    }

    @if(result != null) {
      <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
      <script src='@routes.Assets.at("javascripts/d3/line.js")'></script>
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/d3/line.css")">
      <h3>陡坡圖</h3>
      <div class="col-sm-12" id="linechart"></div>

      <script>
              d3.select('#linechart').datum(@Html(result)).call(line());
      </script>
        @if(user!="NULL"){
            @form(action = routes.Simple.saveModel) {

                <h3>Save Model as: </h3>
                <input type="text" name="outputFolder" required="required" value="PCAModel"> <br>
                <input type="hidden" name ="timestamp" value=@timestamp ><br>

                <input type="hidden" name = "type" value="@Utilities.pcaModel" ><br>

                <p class="buttons">
                <input type="submit" id="submit">
                </p>
            }
        }
    }
  }