

div#piechart{
    height: 300px;
}

text {
    stroke: none;
    fill: #666666;
    font-size: 8px;
    font-family:"Helvetica Neue"
}


.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}



/*===================================scatter matrix================*/
